.footer{
    width: 37.5rem;
    margin: 0;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #b1bacb46;
}

.bottomPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.countSelected{
    color: #B1BACB;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.clear{
    cursor: pointer;
    color: #B1BACB;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.clear:hover{
    color: #95a0b4;
}